# Where and how to store data.
storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

# network interfaces
net:
  port: {{ mongodb.port }}
  bindIp: {{ mongodb.bind_ip }}

# security
security:
  authorization: enabled